{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dist/css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'jquery.min.js ' %}" ></script>
	<script type="text/javascript" src="{% static 'dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
	<div class="nav">
		<a class="logo" href="{% url 'blog:index' %}">
			<h3>文章博客</h3>
		</a>
		<a href="/">首页</a>
		<a href="{% url 'blog:index' %}">博客</a>
	</div >
	{% block content %}{% endblock %}
</body>
</html>
