*{
			margin: 0;
			padding:0;
		}
		/*
		div.nav {
			background: #eee;
			border-bottom: 1px solid #ccc;
			font-size: 110%
		}
		div.nav a{
			color: #000;
			text-decoration: none;
			margin: 10px;
		}
		div.nav a.logo{
			display: inline-block;
			text-decoration: none;
			margin: 10px;
		}*/
		h3.welcome{
			font-size: 220%;
			text-align: center;
			margin-top: 2em;
			margin-bottom: 2em;
		}
		div#container{
			margin: 0 auto;
			height: 16em;
			min-width: 20em;
			max-width: 30em;
		}
		ul.blog_types{
		list-style-type: none;
	}
		div.hot_data{
			text-align: center;
			margin-top: 2em;
		}