	div.paginator{
		text-align: center;
	}

	ul.blog_types{
		list-style-type: none;
	}
	div.blog:not(:last-child){
		margin-bottom: 2em;
		padding-bottom: 1em;
		border-bottom: 1px solid #eee;
	}
	div.blog h3{
		margin-top: 0.6em;
	}
	div.blog p.information{
		margin-bottom: : 0; 
	}
	div.comment-area{
		margin-top:2em;
	}
	h3.comment-area-title{
		border-bottom: 1px solid #ccc!important;
		padding-bottom: 0.4em;
	}