*{
			margin: 0;
			padding:0;
		}
		/*
		div.nav {
			background: #eee;
			border-bottom: 1px solid #ccc;
			font-size: 110%
		}
		div.nav a{
			color: #000;
			text-decoration: none;
			margin: 10px;
		}
		div.nav a.logo{
			display: inline-block;
			text-decoration: none;
			margin: 10px;
		}*/
		h3.welcome{
			font-size: 220%;
			position:absolute;
			left: 50%;
			top: 40%;
			transform: translate(-50%，-50%);
		}
